@model HellManagerWEB.Models.Sinner

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sinner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>

<br/>
<h3>Sins</h3>
<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sins.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sins.First().Punishment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sins.First().Punisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sins.First().SinDegree)
            </th>
            <th></th>
        </tr>

        @foreach (var sin in Model.Sins)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => sin.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => sin.Punishment.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => sin.Punisher.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => sin.SinDegree.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditSinnerSin", new { sinId = sin.Id, Model.Id}) |
                    @Html.ActionLink("Delete", "DeleteSinnerSin", new { sinId = sin.Id, sinnerId = Model.Id })
                </td>
            </tr>
        }

    </table>
</div>